In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [47]:
df = pd.read_csv("../files/winequality-red_miss-COPY.csv")

In [48]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,NaN,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
1,7.8,0.88,0.00,NaN,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0
3,11.2,0.28,NaN,1.9,0.075,17.0,660.0,0.9980,3.16,0.58,9.8,6.0
4,77.4,10.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0

In [49]:
cols = [i for i in df]

In [50]:
def emptyCount():
    totalEmpty = 0
    for col in cols:
        cnt = df[col].isnull().sum()
        print(col, ": ", cnt)
        totalEmpty += cnt
    print("\nTotal empty cells: ",totalEmpty)

In [51]:
emptyCount()

fixed acidity :  22
volatile acidity :  5
citric acid :  22
residual sugar :  20
chlorides :  8
free sulfur dioxide :  6
total sulfur dioxide :  5
density :  1
pH :  4
sulphates :  7
alcohol :  1
quality :  18

Total empty cells:  119

In [52]:
pd.options.mode.chained_assignment = None

In [53]:
df['fixed acidity'][0] = ''
df['fixed acidity'][1] = ''
df['volatile acidity'][0] = 'N/A'
df['volatile acidity'][1] = 'N/A'

In [54]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,,N/A,NaN,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
1,,N/A,0.00,NaN,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0
3,11.2,0.28,NaN,1.9,0.075,17.0,660.0,0.9980,3.16,0.58,9.8,6.0
4,77.4,10.7,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0

In [55]:
df['volatile acidity'][2] = 'na'
df['volatile acidity'][3] = 'na'

In [56]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,,N/A,NaN,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0
1,,N/A,0.00,NaN,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5.0
2,7.8,na,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5.0
3,11.2,na,NaN,1.9,0.075,17.0,660.0,0.9980,3.16,0.58,9.8,6.0
4,77.4,10.7,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5.0

In [57]:
totalEmpty = 0
for col in cols:
    cnt = 0;
    for i in range(len(df)):
        if df[col][i]=="" or df[col][i]=="na" or df[col][i]=="N/A" or list(df[col].isnull())[i]:
            cnt+=1;
    print(col, ": ", cnt)
    totalEmpty += cnt
print("\nTotal empty cells: ",totalEmpty)

fixed acidity :  24
volatile acidity :  9
citric acid :  22
residual sugar :  20
chlorides :  8
free sulfur dioxide :  6
total sulfur dioxide :  5
density :  1
pH :  4
sulphates :  7
alcohol :  1
quality :  18

Total empty cells:  125